body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

#score {
  background-color: #e8e5ff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 215, 215, 0.1);
  padding: 20px;
  width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  margin-bottom: 20px;
}

.score-settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.custom-input {
  display: none;
  margin-bottom: 20px;
}

#image {
  mix-blend-mode: multiply;
  background-color: #ffffff;
}

#reset {
  background-color: #3a3a3a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#scoreOne{
  background-color: #2eb3a7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#scoreTwo{
  background-color: #2f169e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#reset:hover {
  background-color: #4b4b4b;
}

#scoreOne:hover {
  background-color: #26bbbb;
}

#scoreTwo:hover{
  background-color: #4d3beb;
}

span {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 10px;
}