body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#score {
  background-color: #e8e5ff;
  border-radius: 0.7rem;
  box-shadow: 0rem 0rem 2rem rgba(255, 215, 215, 0.1);
  padding: 2rem;
  width: 30rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

select {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
}

#customInput {
  display: none;
  margin-bottom: 1rem;
}

#image {
  mix-blend-mode: multiply;
  background-color: #ffffff;
  object-fit: cover;
  margin-bottom: 2rem;
}

#reset {
  background-color: #3a3a3a;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
}

#scoreOne{
  background-color: #2eb3a7;
  color: white;
  color: white;
  padding: 0.6rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

#scoreTwo{
  background-color: #2f169e;
  color: white;
  color: white;
  padding: 0.6rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5rem;
}

#reset:hover {
  background-color: #4b4b4b;
}

#scoreOne:hover {
  background-color: #26bbbb;
}

#scoreTwo:hover{
  background-color: #4d3beb;
}

span {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 1rem;
}

#scoreDiv{
  font-size: 1.5rem;
}